body
{
    background-color: lightskyblue;
}

.footer
{
    position: fixed;
    color: whitesmoke;
    text-align: center;
    width: 100%;
    background-color: grey;
    bottom: 0px;
    line-height: 2;


}
canvas
{
    border: 5px solid black;
}